[Unit]
Description=Kafka Tunnel for Remote IP %I

[Service]
ExecStart=/usr/bin/ssh -NL localhost:BROKERPORT:9092 -L localhost:ZKPORT:2181 isoblue2@%i
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
