[Unit]
Description=Kafka Tunnel for Remote IP %I

[Service]
ExecStart=/usr/bin/ssh -NL localhost:BROKERPORT:%i:9092 -L localhost:ZKPORT:%i:2181 ubuntu@%i
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
